.panelUser{
  width: 100%;
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
}
.panelUserInside {
  width: 500px;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.user {
  font-size: 19px;
  color: black;
  padding: 2px;
  font-weight: bold;
}
.userSend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}